<nav class="side-navigation">
  <% @page = Page.find_by(slug: "careers") %>
  <%= side_header_for @page %>
</nav>


<div class="main-content">

  <div class="page-container">

<h1 class="map-page roboto">Application for Employment</h1>

<h2>
  <%= @job.name %><br>
  <%= @job.description %>
</h2>

<%= form_for @job_application, multipart: true do |f| %>
<%= render "shared/errors", object: @job_application %>

<% if @job %>
  <%= hidden_field_tag :job_id, @job.id %>
<% end %>


  <div class="form-row group">
    <div class="double-small-row">
      <%= f.label :last_name, "Last Name" %>
      <%= f.text_field :last_name %>
    </div>
    <div class="double-small-row">
      <%= f.label :first_name, "First Name" %>
      <%= f.text_field :first_name %>
    </div>
    <div class="small-row">
      <%= f.label :mi, "Middle Initial" %>
      <%= f.text_field :mi %>
    </div>
  </div>

  <div class="form-row group">
    <div class="half-row">
      <%= f.label :nickname, "Nickname" %>
      <%= f.text_field :nickname %>
    </div>
    <div class="double-small-row with-gutter">
      <%= f.label :phone, "Daytime Phone" %>
      <%= f.text_field :phone %>
    </div>
  </div>

  <div class="form-row group">
    <div class="half-row">
      <%= f.label :email, "Email" %>
      <%= f.text_field :email %>
    </div>
  </div>

  <div class="form-row group">
    <div class="half-row">
      <%= f.label :address, "Address" %>
      <%= f.text_field :address %>
      <%= f.text_field :physical_address, class: "form_address"  %>
    </div>
    <div class="small-row with-gutter">
      <%= f.label :apt, "Apt. #" %>
      <%= f.text_field :apt %>
    </div>
  </div>

  <div class="form-row group">
    <div class="half-row">
      <%= f.label :city, "City" %>
      <%= f.text_field :city %>
    </div>
    <div class="small-row with-gutter">
      <%= f.label :us_state, "State" %>
      <%= f.text_field :us_state %>
    </div>
    <div class="small-row">
      <%= f.label :zip, "Zip" %>
      <%= f.text_field :zip %>
    </div>
  </div>


  <div class="form-row group">
    <div class="half-row">
      <label>Available for work</label>
      <%= f.check_box :full_time %>
      <%= f.label :full_time, "Full time", class: "inline" %>
    
      <%= f.check_box :part_time %>
      <%= f.label :part_time, "Part time", class: "inline" %>
    </div>

    <div class="double-small-row">
      <%= f.label :available_as_of, "Available for work as of" %>
      <%= f.text_field :available_as_of %>
    </div>
  </div>

  <div class="form-row group">
    <label>In case of emergency, contact</label>
    <div class="half-row">
      <%= f.label :emergency_name, "Name" %>
      <%= f.text_field :emergency_name %>
    </div>
  </div>

  <div class="form-row group">
    <div class="double-small-row">
      <%= f.label :emergency_day_phone, "Day Phone" %>
      <%= f.text_field :emergency_day_phone %>
    </div>

    <div class="double-small-row">
      <%= f.label :emergency_night_phone, "Night Phone" %>
      <%= f.text_field :emergency_night_phone %>
    </div>
  </div>

  <h2>Work History</h2>
  <p>
  List below present and past employment, beginning with your most recent.<br>
  (Include Military Experience)
  </p>

  <fieldset class="history">
  <div class="form-row group">
    <div class="double-small-row">
      <%= f.label :employer1, "1. Name of Employer" %>
      <%= f.text_field :employer1 %>
    </div>
    <div class="double-small-row">
      <%= f.label :supervisor1, "Immediate Supervisor" %>
      <%= f.text_field :supervisor1 %>
    </div>
    <div class="small-row">
      <%= f.label :employer1_phone, "Telephone" %>
      <%= f.text_field :employer1_phone %>
    </div>
  </div>

  <div class="form-row group">
    <div class="double-small-row">
      <%= f.label :from1, "From: Mo/Yr" %>
      <%= f.text_field :from1 %>
    </div>
    <div class="double-small-row">
      <%= f.label :to1, "To: Mo/Yr" %>
      <%= f.text_field :to1 %>
    </div>
    <div class="small-row">
      <%= f.label :salary1, "Final Salary" %>
      <%= f.text_field :salary1 %>
    </div>
  </div>

  <div class="form-row group">
    <div class="double-small-row">
      <%= f.label :employer_address1, "Address" %>
      <%= f.text_field :employer_address1 %>
    </div>
    <div class="half-row">
      <%= f.label :title1, "Job Title and Duties" %>
      <%= f.text_field :title1 %>
    </div>
  </div>

  <div class="form-row group">
    <div class="half-row">
      <%= f.label :reason1, "Reason for Leaving" %>
      <%= f.text_field :reason1 %>
    </div>
  </div>
  </fieldset>




  <fieldset class="history">
  <div class="form-row group">
    <div class="double-small-row">
      <%= f.label :employer2, "2. Name of Employer" %>
      <%= f.text_field :employer2 %>
    </div>
    <div class="double-small-row">
      <%= f.label :supervisor2, "Immediate Supervisor" %>
      <%= f.text_field :supervisor2 %>
    </div>
    <div class="small-row">
      <%= f.label :employer2_phone, "Telephone" %>
      <%= f.text_field :employer2_phone %>
    </div>
  </div>

  <div class="form-row group">
    <div class="double-small-row">
      <%= f.label :from2, "From: Mo/Yr" %>
      <%= f.text_field :from2 %>
    </div>
    <div class="double-small-row">
      <%= f.label :to2, "To: Mo/Yr" %>
      <%= f.text_field :to2 %>
    </div>
    <div class="small-row">
      <%= f.label :salary2, "Final Salary" %>
      <%= f.text_field :salary2 %>
    </div>
  </div>

  <div class="form-row group">
    <div class="double-small-row">
      <%= f.label :employer_address2, "Address" %>
      <%= f.text_field :employer_address2 %>
    </div>
    <div class="half-row">
      <%= f.label :title2, "Job Title and Duties" %>
      <%= f.text_field :title2 %>
    </div>
  </div>

  <div class="form-row group">
    <div class="half-row">
      <%= f.label :reason2, "Reason for Leaving" %>
      <%= f.text_field :reason2 %>
    </div>
  </div>
  </fieldset>


  <fieldset class="history">
  <div class="form-row group">
    <div class="double-small-row">
      <%= f.label :employer3, "3. Name of Employer" %>
      <%= f.text_field :employer3 %>
    </div>
    <div class="double-small-row">
      <%= f.label :supervisor3, "Immediate Supervisor" %>
      <%= f.text_field :supervisor3 %>
    </div>
    <div class="small-row">
      <%= f.label :employer3_phone, "Telephone" %>
      <%= f.text_field :employer3_phone %>
    </div>
  </div>

  <div class="form-row group">
    <div class="double-small-row">
      <%= f.label :from3, "From: Mo/Yr" %>
      <%= f.text_field :from3 %>
    </div>
    <div class="double-small-row">
      <%= f.label :to3, "To: Mo/Yr" %>
      <%= f.text_field :to3 %>
    </div>
    <div class="small-row">
      <%= f.label :salary3, "Final Salary" %>
      <%= f.text_field :salary3 %>
    </div>
  </div>

  <div class="form-row group">
    <div class="double-small-row">
      <%= f.label :employer_address3, "Address" %>
      <%= f.text_field :employer_address3 %>
    </div>
    <div class="half-row">
      <%= f.label :title3, "Job Title and Duties" %>
      <%= f.text_field :title3 %>
    </div>
  </div>

  <div class="form-row group">
    <div class="half-row">
      <%= f.label :reason3, "Reason for Leaving" %>
      <%= f.text_field :reason3 %>
    </div>
  </div>
  </fieldset>



  <h2>Education</h2>

  <div class="form-row group">
    <label>High School</label>
    <div class="small-row">
      <%= f.label :high_school_years, "# of Years" %>
      <%= f.text_field :high_school_years %>
    </div>
    <div class="double-small-row">
      <%= f.label :high_school_name, "School" %>
      <%= f.text_field :high_school_name %>
    </div>
    <div class="double-small-row">
      <%= f.label :high_school_degree, "Degree/Major" %>
      <%= f.text_field :high_school_degree %>
    </div>
  </div>

  <div class="form-row group">
    <label>Vo-Tech</label>
    <div class="small-row">
      <%= f.text_field :tech_years %>
    </div>
    <div class="double-small-row">
      <%= f.text_field :tech_name %>
    </div>
    <div class="double-small-row">
      <%= f.text_field :tech_degree %>
    </div>
  </div>


  <div class="form-row group">
    <label>Trade School</label>
    <div class="small-row">
      <%= f.text_field :trade_years %>
    </div>
    <div class="double-small-row">
      <%= f.text_field :trade_name %>
    </div>
    <div class="double-small-row">
      <%= f.text_field :trade_degree %>
    </div>
  </div>



  <div class="form-row group">
    <label>Business School</label>
    <div class="small-row">
      <%= f.text_field :business_years %>
    </div>
    <div class="double-small-row">
      <%= f.text_field :business_name %>
    </div>
    <div class="double-small-row">
      <%= f.text_field :business_degree %>
    </div>
  </div>

  <div class="form-row group">
    <label>College/University</label>
    <div class="small-row">
      <%= f.text_field :college_years %>
    </div>
    <div class="double-small-row">
      <%= f.text_field :college_name %>
    </div>
    <div class="double-small-row">
      <%= f.text_field :college_degree %>
    </div>
  </div>

  <div class="form-row group">
    <label>Graduate School</label>
    <div class="small-row">
      <%= f.text_field :graduate_years %>
    </div>
    <div class="double-small-row">
      <%= f.text_field :graduate_name %>
    </div>
    <div class="double-small-row">
      <%= f.text_field :graduate_degree %>
    </div>
  </div>


  <h2>Professional Certifications</h2>

  <div class="form-row group">
    <div class="double-small-row">
      <%= f.label :cert1, "Area of Certification" %>
      <%= f.text_field :cert1 %>
    </div>
    <div class="double-small-row">
      <%= f.label :cert_state1, "Issuing State" %>
      <%= f.text_field :cert_state1 %>
    </div>
    <div class="small-row">
      <%= f.label :cert_date1, "Date Issued" %>
      <%= f.text_field :cert_date1 %>
    </div>
  </div>


  <div class="form-row group">
    <div class="double-small-row">
      <%= f.text_field :cert2 %>
    </div>
    <div class="double-small-row">
      <%= f.text_field :cert_state2 %>
    </div>
    <div class="small-row">
      <%= f.text_field :cert_date2 %>
    </div>
  </div>


  <div class="form-row group">
    <div class="double-small-row">
      <%= f.text_field :cert3 %>
    </div>
    <div class="double-small-row">
      <%= f.text_field :cert_state3 %>
    </div>
    <div class="small-row">
      <%= f.text_field :cert_date3 %>
    </div>
  </div>


  <div class="form-row group">
    <div class="double-small-row">
      <%= f.text_field :cert4 %>
    </div>
    <div class="double-small-row">
      <%= f.text_field :cert_state4 %>
    </div>
    <div class="small-row">
      <%= f.text_field :cert_date4 %>
    </div>
  </div>




<h2>&nbsp;</h2>

  <div class="form-row group">
    <label>Have you ever been convicted of a crime other than a traffic violation? A conviction of a crime will not necessary be a bar to employment.</label>
    <div class="half-row">
      <%= f.radio_button :convicted, true %>
      <%= f.label :convicted, "Yes", class: "inline" %>
    
      <%= f.radio_button :convicted, false %>
      <%= f.label :convicted, "No", class: "inline" %>
    </div>
  </div>

  <div class="form-row group">
    <label>If yes, please explain:</label> 
      <%= f.text_field :convicted_explanation %>
  </div>


<h2>&nbsp;</h2>
<div class="form-row group">
  <label>How did you learn about University Orthopedic Center and the position?</label>
</div>
<div class="form-row group">
  <div class="double-small-row">
    <label>&nbsp;</label>
    <%= f.check_box :learn_ad %>
    <%= f.label :learn_ad, "Job Advertisement", class: "inline" %>
  </div>
  <div class="half-row">
    <%= f.label :learn_ad_explanation, "Identify publication or other media" %>
      <%= f.text_field :learn_ad_explanation %>
  </div>
</div>


 
<div class="form-row group">
  <div class="double-small-row">
    <label>&nbsp;</label>
    <%= f.check_box :learn_employee %>
    <%= f.label :learn_employee, "Employee Referral", class: "inline" %>
  </div>
  <div class="half-row">
    <%= f.label :learn_employee_explanation, "Employee's name" %>
      <%= f.text_field :learn_employee_explanation %>
  </div>
</div>


<div class="form-row group">
  <div class="double-small-row">
    <label>&nbsp;</label>
    <%= f.check_box :learn_other %>
    <%= f.label :learn_other, "Other", class: "inline" %>
  </div>
  <div class="half-row">
    <%= f.label :learn_other_explanation, "Specify" %>
      <%= f.text_field :learn_other_explanation %>
  </div>
</div>


<h2>&nbsp;</h2>

  <div class="form-row group">
    <label>Have you previously worked at University Orthopedic Center?</label>
    <div class="small-row">
      <label>&nbsp;</label>
      <%= f.radio_button :previously_worked, true %>
      <%= f.label :previously_worked, "Yes", class: "inline" %>
    </div>
    <div class="half-row">
      <%= f.label :previously_worked_explanation, "Specify dates and position" %>
      <%= f.text_field :previously_worked_explanation %>
    </div>
  </div>

  <div class="form-row group">
    <div class="small-row">
      <%= f.radio_button :previously_worked, false %>
      <%= f.label :previously_worked, "No", class: "inline" %>
    </div>
  </div>


  <h2>Professional References</h2> 

  <div class="form-row group">
  <label>List three (3) professional references.</label>
    <div class="small-row">
      <%= f.label :reference1_name, "Name" %>
      <%= f.text_field :reference1_name %>
    </div>
    <div class="double-small-row">
      <%= f.label :reference1_relationship, "Relationship to Applicant" %>
      <%= f.text_field :reference1_relationship %>
    </div>
    <div class="small-row">
      <%= f.label :reference1_address, "Address" %>
      <%= f.text_field :reference1_address %>
    </div>
    <div class="small-row">
      <%= f.label :reference1_phone, "Telephone" %>
      <%= f.text_field :reference1_phone %>
    </div>
  </div>


  <div class="form-row group">
    <div class="small-row">
      <%= f.text_field :reference2_name %>
    </div>
    <div class="double-small-row">
      <%= f.text_field :reference2_relationship %>
    </div>
    <div class="small-row">
      <%= f.text_field :reference2_address %>
    </div>
    <div class="small-row">
      <%= f.text_field :reference2_phone %>
    </div>
  </div>

  <div class="form-row group">
    <div class="small-row">
      <%= f.text_field :reference3_name %>
    </div>
    <div class="double-small-row">
      <%= f.text_field :reference3_relationship %>
    </div>
    <div class="small-row">
      <%= f.text_field :reference3_address %>
    </div>
    <div class="small-row">
      <%= f.text_field :reference3_phone %>
    </div>
  </div>


<h2>Upload Resume</h2>
<p>
  Use the button below to upload your resume.<br>
  Accepted file formats: <i>PDF, Microsoft Word, Text Document</i>
</p>
  <div class="form-row group">
      <%= f.file_field :resume %>
  </div>


<h2>Please read and sign</h2>

<p>
  I certify that all of the information I have supplied on this application is correct to the best of my knowledge and I understand that omission or deliberate misinformation will disqualify my application and, if hired, would serve as grounds for dismissal.
</p>
<p>
  I consent to have University Orthopedic Center contact the people listed on this application for references and authorize these individuals to provide truthful information regarding my qualifications for employment and previous work. I also agree to wave liability against persons named as references, provided the information they supplied is honest, factual and given without malice.
</p>

  <div class="form-row group">
    <div class="half-row">
      <%= f.label :signature, "Signature" %>
      <%= f.text_field :signature %>
    </div>
    <div class="small-row with-gutter">
      <%= f.label :sig_date, "Date" %>
      <%= f.text_field :sig_date %>
    </div>
  </div>


  <div class="form-row group">
    <%= f.submit "Submit", class: "green-link" %>
  </div>

<% end %>

  </div>
</div>
