<%= form_for @appointment do |f| %>
<%= render "shared/errors", object: @appointment %>

<h2>Requestor Information</h2>
  <div class="form-row group">
    <div class="double-small-row">
      <%= f.label :requestor_first_name, "Requestor First Name" %>
      <%= f.text_field :requestor_first_name %>
    </div>
    <div class="small-row">
      <%= f.label :requestor_mi, "M.I." %>
      <%= f.text_field :requestor_mi %>
    </div>
    <div class="half-row">
      <%= f.label :requestor_last_name, "Requestor Last Name" %>
      <%= f.text_field :requestor_last_name %>
    </div>
  </div>

  <div class="form-row group">
    <%= f.label :requestor_phone, "Daytime Phone" %>
    <div class="small-row">
      <%= f.text_field :requestor_phone_prefix %>
    </div>
    <div class="half-row">
      <%= f.text_field :requestor_phone %>
    </div>
  </div>

  <div class="form-row">
    <div class="half-row">
      <%= f.label :requestor_email, "Email" %>
      <%= f.text_field :requestor_email %>
    </div>
  </div>

  <div class="form-row">
    <%= f.label :requestor_time_to_reach , "Best time to reach you between 8:00 AM to 5:00 PM" %>
    <div class="half-row">
      <%= f.text_field :requestor_time_to_reach %>
    </div>
  </div>

  <h2>Patient Information</h2>

  <div class="form-row group">
    <div class="double-small-row">
      <%= f.label :patient_first_name, "Patient First Name" %>
      <%= f.text_field :patient_first_name %>
    </div>
    <div class="small-row">
      <%= f.label :patient_mi, "M.I." %>
      <%= f.text_field :patient_mi %>
    </div>
    <div class="half-row">
      <%= f.label :patient_last_name, "Patient Last Name" %>
      <%= f.text_field :patient_last_name %>
    </div>
  </div>

  <div class="form-row">
    <%= f.label :address1, "Address" %>
    <div class="half-row">
      <%= f.text_field :address1 %>
    </div>
  </div>

  <div class="form-row">
    <div class="half-row">
      <%= f.text_field :address2 %>
    </div>
  </div>

  <div class="form-row">
    <div class="half-row">
      <%= f.label :city, "City" %>
      <%= f.text_field :city %>
    </div>
    <div class="quarter-row with-gutter">
      <%= f.label :us_state, "State" %>
      <%= f.text_field :us_state %>
    </div>
    <div class="quarter-row">
      <%= f.label :zip, "Zip Code" %>
      <%= f.text_field :zip %>
    </div>
  </div>


  <div class="form-row group">
    <%= f.label :patient_phone, "Patient Phone Number" %>
    <div class="small-row">
      <%= f.text_field :patient_phone_prefix %>
    </div>
    <div class="half-row">
      <%= f.text_field :patient_phone %>
    </div>
  </div>

  <div class="form-row group">
    <div class="half-row">
      <%= f.label :dob, "Date of Birth (MM/DD/YYYY)" %>
      <%= f.text_field :dob %>
    </div>
    <div class="half-row with-gutter">
      <label for="gender">Gender</label>
      
      <%= f.radio_button :gender, "male" %>
      <%= f.label :gender, "Male", class: "inline" %>
    
      <%= f.radio_button :gender, "female" %>
      <%= f.label :gender, "Female", class: "inline" %>
    </div>
  </div>


  <h2>Injury Information</h2>

  <div class="form-row group">
    <div class="half-row">
      <%= f.label :injury_location, "Injury Location" %>
      <%= f.select :injury_location, Appointment::INJURY_LOCATIONS, {include_blank: "Please, select"}   %>

    </div>
    <div class="half-row with-gutter">
      <%= f.label :injury_location_other, "Other (please specify)" %>
      <%= f.text_field :injury_location_other %>
    </div>
  </div>

  <div class="form-row group">
    <div class="half-row">
      <%= f.label :injury_date, "Date of Injury" %>
      <%= f.text_field :injury_date %>
    </div>
  </div>

  <div class="form-row group">
    <div class="half-row">
      <label>Have you had any prior treatment to the injured area?</label>
      <%= f.radio_button :prior_treatment, false %>
      <%= f.label :prior_treatment, "No", class: "inline" %>
    
      <%= f.radio_button :prior_treatment, true %>
      <%= f.label :prior_treatment, "Yes", class: "inline" %>
    </div>
    <div class="half-row with-gutter">
      <label>Have you had any x-rays taken of the injured area?</label>
      <%= f.radio_button :x_ray, false %>
      <%= f.label :x_ray, "No", class: "inline" %>
    
      <%= f.radio_button :x_ray, true %>
      <%= f.label :x_ray, "Yes", class: "inline" %>
    </div>
  </div>


  <h2>Insurance Information</h2>

  <div class="form-row">
    <%= f.check_box :no_insurance %>
    <%= f.label :no_insurance, "No insurance", class: "inline" %>
  </div>

  <div class="form-row group">
    <div class="half-row">
      <%= f.label :insurance_plan_name, "Insurance Plan Name" %>
      <%= f.text_field :insurance_plan_name %>
    </div>
    <div class="half-row with-gutter">
      <%= f.label :insurance_policy_number, "Insurance Policy Number" %>
      <%= f.text_field :insurance_policy_number %>
    </div>
  </div>

  <h2>Appointment Information</h2>

  <div class="form-row group">
    <div class="half-row">
      <%= f.label :preferred_location, "Preferred Location" %>
      <%= f.select :preferred_location , Appointment::PREFERRED_LOCATIONS, {include_blank: "Please, select"}   %>
    </div>
  </div>

  <div class="form-row group">
    <label>Preferred Day of Week and Time for Appointment</label>
    <%= f.check_box :preferred_day_mo %>
    <%= f.label :preferred_day_mo, "M", class: "inline" %>

    <%= f.check_box :preferred_day_tu %>
    <%= f.label :preferred_day_tu, "T", class: "inline" %>

    <%= f.check_box :preferred_day_we %>
    <%= f.label :preferred_day_we, "W", class: "inline" %>

    <%= f.check_box :preferred_day_th %>
    <%= f.label :preferred_day_th, "Th", class: "inline" %>

    <%= f.check_box :preferred_day_fr %>
    <%= f.label :preferred_day_fr, "F", class: "inline" %>

    <%= f.check_box :preferred_time_am %>
    <%= f.label :preferred_time_am, "AM", class: "inline" %>

    <%= f.check_box :preferred_time_pm %>
    <%= f.label :preferred_time_pm, "PM", class: "inline" %>
  </div>


  <div class="form-row group">
    <div class="half-row">
      <%= f.label :appointment_type, "Appointment Type" %>
      <%= f.select :appointment_type , Appointment::APPOINTMENT_TYPES, {include_blank: "Please, select"}   %>
    </div>
  </div>


  <h2>Additional Information</h2>

  <div class="form-row group">
    <%= f.label :questions, "Additional Information / Questions / Comments" %>
    <%= f.text_area :questions %>
  </div>


  <div class="form-row group">
    <%= f.submit "Submit", class: "green-link" %>
  </div>

<% end %>

