<ul class="dashboard-list clinical-trials">
  <li id="clinical-trials-edit"><%= link_to 'Clinical Trials', page_path('clinical-trials') %>
  <%= link_to "Edit", edit_page_path('clinical-trials'), class: 'edit-link' %>
    <ul>
      <li id="altoona-edit"><%= link_to 'Altoona', page_path('trials-altoona-fairway') %>
      <%= link_to "Edit", edit_page_path('trials-altoona-fairway'), class: 'edit-link' %>
      </li>
      <li id="state-college-edit"><%= link_to 'State College', page_path('trials-state-college') %>
      <%= link_to "Edit", edit_page_path('trials-state-college'), class: 'edit-link' %>
      </li>
    </ul>
  </li>
</ul>
