<%= form_for @contact do |f| %>

<%= render "shared/errors", object: @contact %>

  <div class="form-row group">
    <div class="half-row">
      <%= f.label :first_name, "First Name" %>
      <%= f.text_field :first_name %>
    </div>
    <div class="half-row with-gutter">
      <%= f.label :last_name, "Last Name" %>
      <%= f.text_field :last_name %>
    </div>
  </div>

  <div class="form-row group">
    <div class="half-row">
      <%= f.label :email, "Email Address" %>
      <%= f.email_field :email %>
    </div>
    <div class="half-row with-gutter">
      <%= f.label :phone, "Phone Number" %>
      <%= f.text_field :phone %>
    </div>
  </div>

  <div class="form-row group">
    <%= f.label :message, "Message" %>
    <%= f.text_area :message %>
  </div>

  <div class="form-row group">
    <%= f.submit "Submit", class: "green-link" %>
  </div>
<% end %>
