<div class="home-col box-empty">
<div class="mobile-home-box">
  <h2>Pain Information Center</h2>
  <p>
  Where does it hurt?
  </p> 

  <ul class="hurts">
    <li><%= link_to "Neck", page_path("neck-back") %></li>
    <li><%= link_to "Back", page_path("neck-back") %></li>
    <li><%= link_to "Shoulder", page_path("shoulders") %></li>
    <li><%= link_to "Elbow", page_path("elbows") %></li>
    <li><%= link_to "Hand", page_path("hands-wrists") %></li>
  </ul>

  <ul class="hurts">
    <li><%= link_to "Hip", page_path("hips") %></li>
    <li><%= link_to "Knee", page_path("knees") %></li>
    <li><%= link_to "Ankle", page_path("feet-ankles") %></li>
    <li><%= link_to "Foot", page_path("feet-ankles") %></li>
  </ul>
</div>
</div>
