<div class="main-content-wide">
  <h1>Editing</h1>
  <h2><%= @page.title %></h2>

  <%= form_for @page do |f| %>
    <%= render "shared/errors", object: @page %>
    <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
    </p>

    <p>
    <%= f.label :body %>
    <%= f.cktext_area :body %>
    </p>

    <p>
    <%= f.label :label, "Label" %>
    <%= f.text_field :label %>
    <em>Label that appears in the navigation links</em>
    </p>

    <p>
    <%= f.label :seo_title, "SEO Title" %>
    <%= f.text_field :seo_title %>
    </p>
    <p>
    <%= f.label :seo_description, "SEO Description" %>
    <%= f.text_area :seo_description %>
    </p>
    <p>
    <%= f.label :seo_keywords, "SEO Keywords" %>
    <%= f.text_field :seo_keywords %>
    </p>






    <p>
      <%= f.submit "Update Page", class: "green-link" %>
    </p>

  <% end %>
</div>
