<div class="main-content-wide">
  <h1>Editing</h1>
  <h2><%= @page.title %></h2>

  <%= form_for @page, multipart: true do |f| %>
    <%= render "shared/errors", object: @page %>
    <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
    </p>

    <p>
    <%= f.label :body %>
    <%= f.cktext_area :body %>
    </p>

    <p>
    <%= f.label :label, "Label" %>
    <%= f.text_field :label %>
    <em>Label that appears in the navigation links</em>
    </p>

    <div class="group">
      <div style="float: left;">
        <%= f.label :main_image, "Main Image" %>
        <%= f.file_field :main_image %>
          <p>
            <em>Image at top of the page</em>
          </p>
      </div>
      <%= image_tag @page.main_image.url, style: "float: right;width:50%;" %>
    </div>

    <div class="edit-form-row">
        <label>Publish page?</label>
        <%= f.radio_button :publish, true %>
        <%= f.label :publish, "Yes", class: "inline" %>

        <%= f.radio_button :publish, false %>
        <%= f.label :publish, "No", class: "inline" %>
    </div>

    <p>
    <%= f.label :seo_title, "SEO Title" %>
    <%= f.text_field :seo_title %>
    </p>
    <p>
    <%= f.label :seo_description, "SEO Description" %>
    <%= f.text_area :seo_description %>
    </p>
    <p>
    <%= f.label :seo_keywords, "SEO Keywords" %>
    <%= f.text_field :seo_keywords %>
    </p>

    <p>
      <%= f.submit "Update Page", class: "green-link" %>
    </p>

  <% end %>
</div>
