<%= render "layouts/slideshow" %>
<div style="margin-bottom: 2em; overflow: hidden;">
  <div class="home-col">
    <h2 class="roboto">Where does it hurt?</h2>
    <ul class="hurts">
      <li><%= link_to "Neck", page_path("neck-back") %></li>
      <li><%= link_to "Back", page_path("neck-back") %></li>
      <li><%= link_to "Shoulder", page_path("shoulders") %></li>
      <li><%= link_to "Elbow", page_path("elbows") %></li>
      <li><%= link_to "Hand", page_path("hands-wrists") %></li>
    </ul>

    <ul class="hurts">
      <li><%= link_to "Hip", page_path("hips") %></li>
      <li><%= link_to "Knee", page_path("knees") %></li>
      <li><%= link_to "Ankle", page_path("feet-ankles") %></li>
      <li><%= link_to "Foot", page_path("feet-ankles") %></li>
      <li><%= link_to "Other", page_path("other") %></li>
    </ul>
  </div>

  <div class="home-col box-with-photo">
    <h2 class="roboto">Sports Medicine</h2>
    <%= link_to "Read More", page_path("sports-medicine"), class: "green-link" %>
  </div>


  <div class="home-col box-empty">
    <div class="home-box">
      <h2 class="roboto">Patient Portal</h2>
      <%= form_tag "" do %>
        <fieldset>
          <%= text_field_tag :username, nil, placeholder: "Username or Email Address" %>
          <%= password_field_tag :password, nil, placeholder: "Password" %>
          <%= submit_tag "Login", class: "green-link" %>
        </fieldset>
      <% end %>
    </div>

    <div class="home-box">
      <h2 class="roboto">Patient Experience</h2>
      <p>
        Elit at voluptates ullam minima quam autem, corporis deleniti vel facere, placeat veniam ullam minima quam autem.
      </p>
    </div>
  </div>

</div>

