<%= render "layouts/slideshow" %>
<div style="margin-bottom: 2em; overflow: hidden;">
  <div class="home-col">
    <h2 class="roboto">Where does it hurt?</h2>
    <ul class="hurts">
      <li><%= link_to "Neck", page_path("neck-back") %></li>
      <li><%= link_to "Back", page_path("neck-back") %></li>
      <li><%= link_to "Shoulder", page_path("shoulders") %></li>
      <li><%= link_to "Elbow", page_path("elbows") %></li>
      <li><%= link_to "Hand", page_path("hands-wrists") %></li>
    </ul>

    <ul class="hurts">
      <li><%= link_to "Hip", page_path("hips") %></li>
      <li><%= link_to "Knee", page_path("knees") %></li>
      <li><%= link_to "Ankle", page_path("feet-ankles") %></li>
      <li><%= link_to "Foot", page_path("feet-ankles") %></li>
      <li><%= link_to "Other", page_path("other") %></li>
    </ul>
  </div>

  <div class="home-col box-with-photo">
    <h2 class="roboto">Sports Medicine</h2>
    <%= link_to "Read More", page_path("sports-medicine"), class: "green-link" %>
  </div>


  <div class="home-col box-empty">
    <div class="home-box">
      <h2 class="roboto">Access your<br>patient records<br>and information 24/7.</h2>
      <%= link_to "Login to Patient Portal or create<br>an account".html_safe, 
        "https://www.nextmd.com/Login/Login.aspx", class: "white-link" %>
    </div>

    <div class="home-box">
      <h2 class="roboto">Share your<br>comeback story.</h2>
      <p>
          Comebacks change history. They change lives. They get you back in the
          game to fight or run or walk or just be back to being you another day.
          Share your story and amaze absolutely everyone.
      </p>
    </div>
  </div>

</div>

