<%= render "layouts/slideshow" %>

<div class="home-boxes">
  <% if mobile_device? %>
    <%= render "/pages/mobile_box_pain" %>
  <% else %>
    <%= render "/pages/box_pain" %>
  <% end %>

  <% if mobile_device? %>
    <%= render "/pages/mobile_box_sports" %>
  <% else %>
    <%= render "/pages/box_sports" %>
  <% end %>

  <div class="home-col box-empty">
    <% if mobile_device? %>
      <%= render "/pages/mobile_box_portal" %>
      <%= render "/pages/mobile_reviews" %>
    <% else %>
      <%= render "/pages/box_portal" %>
      <%= render "/pages/reviews" %>
    <% end %>
  </div>

</div>

