<h1>Home page</h1>

<nav class="site-navigation">
  <ul>
    <li><%= link_to "Specialties", page_path('specialties') %></li>
    <li><%= link_to "Services", page_path('services') %></li>
    <li><%= link_to "Our Experts", page_path('our-experts') %></li>
    <li><%= link_to "News", page_path('news') %></li>
    <li><%= link_to "Contact Us", page_path('contact-us') %></li>
    <li><%= link_to "Patient Portal", "" %></li>
  </ul>
</nav>
