<%= render "layouts/slideshow" %>
<div style="margin-bottom: 2em; overflow: hidden;">
  <div class="home-col" style="padding-bottom: 1.4em">
    <h2 class="roboto">Pain Information Center</h2>
    <p>
    Where does it hurt?
    </p> 

    <ul class="hurts">
      <li><%= link_to "Neck", page_path("neck-back") %></li>
      <li><%= link_to "Back", page_path("neck-back") %></li>
      <li><%= link_to "Shoulder", page_path("shoulders") %></li>
      <li><%= link_to "Elbow", page_path("elbows") %></li>
      <li><%= link_to "Hand", page_path("hands-wrists") %></li>
    </ul>

    <ul class="hurts">
      <li><%= link_to "Hip", page_path("hips") %></li>
      <li><%= link_to "Knee", page_path("knees") %></li>
      <li><%= link_to "Ankle", page_path("feet-ankles") %></li>
      <li><%= link_to "Foot", page_path("feet-ankles") %></li>
    </ul>
  </div>

  <div class="home-col box-with-photo">
    <h2 class="roboto">Sports Medicine</h2>

    <div class="box-within">
    <p>
    It’s a long season. Stay in the game face-off to playoff.
    </p> 
    <%= link_to "Find out how", page_path("sports-medicine-services"), class: "green-link green-link-centered" %>
    </div>
  </div>

  <div class="home-col box-empty">
    <div class="home-box with-header" style="padding-bottom: .8em">
      <h2 class="roboto">Patient Portal</h2>
      <p class="tight">
      Access your patient records<br>and information 24/7.
      </p>
      <%= link_to "Learn more and create an account",  
        page_path('what-is-nextmd'),
        class: "green-link green-link-centered" %>
    </div>

    <div class="home-box with-header" style="padding-bottom: 1em">
      <h2 class="roboto">Reviews &amp; Testimonials</h2>
      <p class="tight">Read our patient’s comeback stories or write your own review.</p>
      <%= link_to "Get started", page_path("submit-review"), class: "green-link green-link-centered" %>
    </div>
  </div>

</div>

