<nav class="side-navigation">
  <h2 class="roboto"><%= @page.root.title %></h2>
  <ul>
    <li><%= link_to "Outpatient Surgical Centers", "" %></li>
    <li><%= link_to "Urgent Orthopedic Care", "" %></li>
    <li><%= link_to "Physical/Occupational Therapy", "" %></li>
    <li><%= link_to "Sports Medicine", "" %></li>
    <li><%= link_to "Clinical Research", "" %></li>
    <li><%= link_to "Worker's Compensation", "" %></li>
    <li><%= link_to "MRI", "" %></li>
    <li><%= link_to "Durable Medical Equipment", "" %></li>
    <li><%= link_to "Uni-Dose Pharmacy", "" %></li>
  </ul>
</nav>

<div class="main-content">

  <%= image_tag "service_photo.jpg" %>

  <h1 class="roboto"><%= @page.title %></h1>

  <%= @page.body.html_safe %>

      <p>
        Sit similique molestias modi perferendis quos fugit corporis vero est odio! Iste facere labore dolore suscipit nemo cupiditate iure. Minus eligendi fuga libero nulla laboriosam? Libero ut fuga alias vitae!
      </p>

      <p>
        Amet quisquam alias optio magni hic mollitia ipsam. Impedit doloribus exercitationem suscipit fugit illo voluptas. Eligendi modi deleniti eius a dolorum doloribus quisquam quae! Itaque harum odit voluptas aperiam ex.
      </p>

      <p>
        Sit dolore sapiente officia natus quasi! Neque aut quisquam voluptate sint doloribus, possimus! Est minima eligendi quod impedit iure! Amet nesciunt neque vitae nostrum commodi. Odio necessitatibus provident natus pariatur.
      </p>

      <p>
        Ipsum voluptatum libero incidunt nemo libero? Nobis ipsa enim doloribus delectus voluptas saepe. Dolorem ad eaque itaque eaque ab natus! Deleniti vel nobis fuga tempora sit molestiae molestiae. A sint.
      </p>

      <p>
        Adipisicing expedita esse aliquam omnis veniam porro repellendus nulla. Iusto illo alias magni consequatur suscipit ducimus similique? Dignissimos ratione obcaecati adipisci repudiandae cupiditate rerum aut unde temporibus ipsam dolorem accusantium.
      </p>

      <p>
        Ipsum eaque cupiditate quibusdam ratione maxime adipisci sed laboriosam amet eveniet amet alias quisquam at, vitae voluptatum! Tenetur facere consequuntur possimus sapiente quisquam. Unde eveniet et in repellat quaerat. Vel.
      </p>

      <p>
        Adipisicing voluptatibus assumenda libero quos aperiam magnam eum repellat. Quibusdam quaerat hic animi ea minima commodi. Neque doloribus nam sequi sed laborum sapiente adipisci explicabo. Repudiandae natus ad explicabo saepe?
      </p>

      <p>
        Adipisicing eius illum adipisicing deleniti aspernatur velit nulla ex ratione! Corporis excepturi deserunt expedita porro aliquam tenetur tempore assumenda! Quibusdam ad consectetur esse qui repellendus deserunt error quia dolorum! Distinctio.
      </p>

      <p>
        Elit minima incidunt quae asperiores ut temporibus aliquam. Suscipit voluptate ad dolor possimus amet impedit perspiciatis neque vero consectetur harum aut perferendis laboriosam? Vel autem rerum enim est eum dicta.
      </p>


    
</div>


