<nav class="side-navigation">
  <h2 class="roboto"><%= @page.root.title %></h2>
  <%= side_links_for @page %>
</nav>

<div class="main-content">
  <%= heading_for(@page) %>
  <%= @page.body.html_safe unless @page.body.nil? %>
  <%= page_partial(@page) %>
</div>
