<nav class="side-navigation">
  <h2 class="roboto"><%= @page.root.title %></h2>
  <%= side_links_for @page %>
</nav>

<div class="main-content">

  <%= image_tag "service_photo.jpg" %>

  <h1 class="roboto"><%= @page.title %></h1>

  <%= @page.body.html_safe unless @page.body.nil? %>

</div>


