<nav class="side-navigation">
  <% if @page.in_portal? %>
    <h2 class="roboto">Patient Portal</h2>
  <% else %>
    <h2 class="roboto"><%= @page.root.label %></h2>
  <% end %>
  <%= side_links_for @page %>
</nav>

<div class="main-content">
  <%= heading_for(@page) %>
  <%= @page.body.html_safe unless @page.body.nil? %>
  <%= page_partial(@page) %>
</div>
