<% content_for(:title, @page.seo_title) %>
<% content_for(:description, @page.seo_description) %>
<% content_for(:keywords, @page.seo_keywords) %>

<nav class="side-navigation <%= "two-line" if @page.in_patient_resources? %>">
  <%= side_header_for @page %>
  <%= side_links_for @page %>
</nav>

<div class="main-content">
    <%= heading_for(@page) %>
  <div class="page-container">
    <%= @page.body.html_safe unless @page.body.nil? %>
    <%= page_partial(@page) %>
  </div>

<% if current_user && !current_user.clinical_trials? %>
  <p style="margin-top: 1em;">
    <%= link_to "Edit", edit_page_path(@page), class: "green-link edit-link" %>
  </p>
<% end %>

</div>
