<div class="main-content-wide">

  <h1><%= pluralize(@referrals.count, "Referral") %></h1>

  <% if @referrals.size > 0 %>
  <div class="admin-link-group group">
    <%= link_to "Download All", referrals_download_path, class: "green-link" %>

    <%= link_to "Delete All", referrals_path, 
        method: :delete,
        data: {confirm: "Are you sure you want to permanently delete all Referrals?"},
        class: "gray-link", id: "delete-all" %>
  </div>
  <% end %>

<% @referrals.each do |referral| %>
  <div class="appointment-list">

<%= link_to "Delete", referral, 
      method: :delete,
      data: {confirm: "Are you sure you want to permanently delete this referral?"},
       class: "orange-link", style: "float:right" %>

       <%= link_to "Save", referral_path(referral), 
         method: :patch,
         class: "green-link", style: "float:right",
         id: "save-appt-#{referral.id}" %>

      <%= link_to "View Details", referral, class: "green-link", style: "float:right" %>
    <p>
      Date: <%= referral.created_at %>
    </p>
    <p>
      Practice: <%= referral.practice %><br>
      Referring Physician: <%= referral.physician %><br>
      Name: <%= referral.name %><br>
      Phone: <%= referral.phone %><br>
      Email: <%= mail_to referral.email, referral.email %>
    </p>
  </div>
<% end %>

  <% if @referrals.size > 0 %>
  <div class="admin-link-group group">
    <%= link_to "Download All", referrals_download_path, class: "green-link" %>

    <%= link_to "Delete All", referrals_path, 
        method: :delete,
        data: {confirm: "Are you sure you want to permanently delete all Referrals?"},
        class: "gray-link" %>
  </div>
  <% end %>
</div>
