<h2>New Referral from UOC website</h2>

<p>
  Date: <%= @referral.created_at %>
</p>

<p>
A new Referral has been created on the UOC site by:
</p>

<p>
Practice: <%= @referral.practice %><br>
Physician: <%= @referral.physician %><br>
Phone: <%= @referral.phone %><br>
Email: <%= @referral.email %>
</p>

<p>
Please click on the link below to view the Referral details.<br> 
You will be required to log into the UOC site with an administrator account to access the Referral page.
</p>

<p>
  <%= link_to "Click here to view the Referral", referral_url(@referral) %>
</p>

