<tr class="<%= cycle("odd", "even") -%>">
  <td><%= appointment.created_at %></td>
  <td><%= appointment.requestor_name %></td>
  <td><%= appointment.requestor_email %></td>
  <td><%= link_to "View Details", appointment %></td>
  <td>
    <%= link_to "Delete", appointment, 
        method: :delete,
        data: {confirm: "Are you sure you want to permanently delete this appointment?"} %>
  </td>
</tr>
