<div class="main-content-wide">

  <h1><%= pluralize(@appointments.count, "Appointment Request") %></h1>

  <% if @appointments.size > 0 %>
  <div class="admin-link-group group">
    <%= link_to "Download All", appointments_download_path, class: "green-link" %>

    <%= link_to "Delete All", appointments_path, 
        method: :delete,
        data: {confirm: "Are you sure you want to permanently delete all appointments?"},
        class: "gray-link", id: "delete-all" %>
  </div>
  <% end %>

<% @appointments.each do |appointment| %>
  <div class="appointment-list">
    <%= link_to "Delete", appointment, 
        method: :delete,
        data: {confirm: "Are you sure you want to permanently delete this appointment?"},
         class: "gray-link", style: "float:right" %>

      <%= link_to "View Details", appointment, class: "green-link", style: "float:right" %>
    <p>
      Date: <%= appointment.created_at %>
    </p>
    <p>
      First Name: <%= appointment.requestor_first_name %><br>
      Last Name: <%= appointment.requestor_last_name %><br>
      Email: <%= mail_to appointment.requestor_email, appointment.requestor_email %>
    </p>
  </div>
<% end %>

  <% if @appointments.size > 0 %>
  <div class="admin-link-group group">
    <%= link_to "Download All", appointments_download_path, class: "green-link" %>

    <%= link_to "Delete All", appointments_path, 
        method: :delete,
        data: {confirm: "Are you sure you want to permanently delete all appointments?"},
        class: "gray-link" %>
  </div>
  <% end %>

</div>
