<div class="main-content-wide">

  <h1>Appointment Requests</h1>

<% @appointments.each do |appointment| %>
  <div class="appointment-list">
      <%= link_to "View Details", appointment, class: "green-link", style: "float:right" %>
    <p>
      Date: <%= appointment.created_at %>
    </p>
    <p>
      First Name: <%= appointment.requestor_first_name %><br>
      Last Name: <%= appointment.requestor_last_name %><br>
      Email: <%= mail_to appointment.requestor_email, appointment.requestor_email %>
    </p>
  </div>
<% end %>
</div>
