<div class="main-content-wide">
<h1>Appointment Request</h1>

<p>
  Date: <%= @appointment.created_at %>
</p>

<h2>Requestor Information</h2>

<table class="appointment-data">
  <tr class="<%= cycle("odd", "even") -%>">
    <td>
      Name
    </td>
    <td>
       <%= @appointment.requestor_name %><br>
    </td>
  </tr>
  <tr class="<%= cycle("odd", "even") -%>">
    <td>
      Daytime Phone
    </td>
    <td>
      <%= @appointment.requestor_phone_number %>
    </td>
  </tr>
  <tr class="<%= cycle("odd", "even") -%>">
    <td>
      Email
    </td>
    <td>
       <%= mail_to @appointment.requestor_email  %>
    </td>
  </tr>
  <tr class="<%= cycle("odd", "even") -%>">
    <td>
      Best time to reach 
    </td>
    <td>
      <%= @appointment.requestor_time_to_reach %>
    </td>
  </tr>
</table>


<h2>Patient Information</h2>

<table class="appointment-data">
  <tr class="<%= cycle("odd", "even") -%>">
    <td>Name</td>
    <td><%= @appointment.patient_name %></td>
  </tr>
  <tr class="<%= cycle("odd", "even") -%>">
    <td>Patient Phone Number</td>
    <td><%= @appointment.patient_phone_number %></td>
  </tr>
  <tr class="<%= cycle("odd", "even") -%>">
    <td>Address</td>
    <td>
      <%= @appointment.address1 %><br>
        <%= @appointment.address2 %>
  </td>
  </tr>
  <tr class="<%= cycle("odd", "even") -%>">
    <td>City</td>
    <td><%= @appointment.city %></td>
  </tr>
  <tr class="<%= cycle("odd", "even") -%>">
    <td>State</td>
    <td><%= @appointment.us_state %></td>
  </tr>
  <tr class="<%= cycle("odd", "even") -%>">
    <td>ZIP</td>
    <td><%= @appointment.zip %></td>
  </tr>
  <tr class="<%= cycle("odd", "even") -%>">
    <td>Date of Birth</td>
    <td><%= @appointment.dob %></td>
  </tr>
  <tr class="<%= cycle("odd", "even") -%>">
    <td>Gender</td>
    <td><%= @appointment.gender %></td>
  </tr>
</table>


<h2>Injury Information</h2>

<table class="appointment-data">
  <tr class="<%= cycle("odd", "even") -%>">
    <td>Injury Location</td>
    <td><%= @appointment.injury_location %></td>
  </tr>
  <tr class="<%= cycle("odd", "even") -%>">
    <td>Other</td>
    <td><%= @appointment.injury_location_other %></td>
  </tr>
  <tr class="<%= cycle("odd", "even") -%>">
    <td>Date of Injury</td>
    <td><%= @appointment.injury_date %></td>
  </tr>
  <tr class="<%= cycle("odd", "even") -%>">
    <td>Prior treatment to the injured area</td>
    <td><%= @appointment.prior_treatment.yesno if @appointment.prior_treatment %></td>
  </tr>
  <tr class="<%= cycle("odd", "even") -%>">
    <td>X-rays taken of the injured area</td>
    <td><%= @appointment.x_ray.yesno if @appointment.x_ray %></td>
  </tr>
</table>

<h2>Insurance Information</h2>

<table class="appointment-data">
  <tr class="<%= cycle("odd", "even") -%>">
    <td>Insurance</td>
    <td><%= @appointment.insurance %></td>
  </tr>
  <tr class="<%= cycle("odd", "even") -%>">
    <td>Insurance Plan Name</td>
    <td><%= @appointment.insurance_plan_name %></td>
  </tr>
  <tr class="<%= cycle("odd", "even") -%>">
    <td>Insurance Policy Number</td>
    <td><%= @appointment.insurance_policy_number %></td>
  </tr>
</table>


<h2>Appointment Information</h2>

<table class="appointment-data">
  <tr class="<%= cycle("odd", "even") -%>">
    <td>Preferred Location</td>
    <td><%= @appointment.preferred_location %></td>
  </tr>
  <tr class="<%= cycle("odd", "even") -%>">
    <td>Preferred Day of Week</td>
    <td>
      <%= @appointment.preferred_days.join(" - ") %>
    </td>
  </tr>
  <tr class="<%= cycle("odd", "even") -%>">
    <td>Preferred Time</td>
    <td>
      <%= @appointment.preferred_times.join(" - ") %>
    </td>
  </tr>
  <tr class="<%= cycle("odd", "even") -%>">
    <td>Appointment Type</td>
    <td><%= @appointment.appointment_type %></td>
  </tr>
  <tr class="<%= cycle("odd", "even") -%>">
    <td>Portal Token?</td>
    <td><%= @appointment.portal_token.yesno if @appointment.portal_token %></td>
  </tr>
</table>

<h2>Additional Information</h2>
<table class="appointment-data">
  <tr class="<%= cycle("odd", "even") -%>">
    <td>
      <%= @appointment.questions %>
    </td>
  </tr>
</table>

</div>

<p>
  <%= link_to "All Appointments", appointments_path, class: "green-link" %>

  <%= link_to "Save this appointment", appointment_path(@appointment), 
         method: :patch, class: "green-link" %>

</p>
