<div class="main-content-wide">

  <h1>Patient Reviews</h1>

  <% if @reviews.empty? %>
  <p>
    No Patient Reviews.
  </p>
  <% else %>

  <table class="results">
  <% @reviews.each do |review| %>
      <tr style="vertical-align: top;">
        <td style="width: 35%;">
          <i>Date:</i> <%= review.created_at %><br>
          <i>Name:</i> <%= review.first_name %> <%= review.last_name %><br>
          <i>Email:</i> <%= review.email %><br>
          <i>Phone:</i> <%= review.phone %>
      </td>
      <td><%= review.message %></td>
      <td style="width: 10%;"><%= link_to "Remove", review, 
        method: :delete,
        data: {confirm: "Are you sure you want to permanently delete this review?"} %>
    </td>
    </tr>
  <% end %>
  </table>

  <% end %>

</div>
