<div class="main-content-wide">

  <h1>Patient Reviews</h1>

  <% if @reviews.empty? %>
  <p>
    No Patient Reviews.
  </p>
  <% else %>

  <table class="results review-list">
  <% @reviews.each do |review| %>
      <tr style="vertical-align: top;">
        <td>
          <i>Date:</i><br><%= review.created_at %><br>
          <i>Name:</i><br><%= review.first_name %> <%= review.last_name %><br>
          <i>Email:</i><br><%= review.email %><br>
          <i>Phone:</i><br><%= review.phone %>
      </td>
      <td><%= truncate(strip_tags(review.message), length: 400) %></td>
      <td><%= approval_status(review) %></td>
      <td style="width: 18%;">
        <%= link_to "Remove", review, 
        method: :delete,
        class: 'gray-link',
        style: 'float: right;',
        data: {confirm: "Are you sure you want to permanently delete this review?"} %>

        <%= link_to "Edit", edit_review_path(review.id), 
          class: 'green-link', style: 'float:right;' %>
    </td>
    </tr>
  <% end %>
  </table>

  <% end %>

</div>
