<%= form_for @news_release do |f| %>
  <%= render "shared/errors", object: @news_release %>

  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :body %>
    <%= f.cktext_area :body %>
  </p>

  <div class="youtube-video-box">
    <p>
    <%= f.label :youtube_id, 'YouTube ID' %>
    <%= f.text_field :youtube_id %>
    <i>You can find the video YouTube ID in the "Share" box, in the YouTube page for the specific video. It would look similar to this:  _GZlUextcAA</i>
    </p>

    <%= image_tag 'youtube_window.png', class: 'youtube-window' %>
  </div>

  <p>
    <%= f.label :published %>
    <%= f.check_box :published %>
  </p>

  <p>
  <% if @news_release.new_record? %>
    <%= f.submit "Create News Release", class: "green-link" %>
  <% else %>
    <%= f.submit "Update News Release", class: "green-link" %>
  <% end %>
  </p>
<% end %>
