<div class="admin-navigation group">
  <ul>
    <li><%= link_to "Dashboard", dashboard_path %></li>
    <li><%= link_to "Experts", experts_path %></li>
    <li><%= link_to "Appointment Requests", appointments_path %></li>
    <li><%= link_to "Referrals", referrals_path %></li>
  </ul>

  <p>
    <%= current_user.email %> | 
    <%= link_to 'Log Out', session_path, method: :delete %>
  </p>
</div>
