<div class="footer-outer">
<footer class="site-footer">

  <div class="footer-col">
    <ul>
      <li class="header">Navigation</li>
      <li><%= link_to "Specialties", page_path("specialties") %></li>
      <li><%= link_to "Services", page_path("services") %></li>
      <li><%= link_to "Our Experts", page_path("our-experts") %></li>
      <li><%= link_to "News", news_releases_path %></li>
      <li><%= link_to "Contact Us", page_path("contact-us") %></li>
      <li><%= link_to "About", page_path("about") %></li>
      <li><%= link_to "Patient Resources", page_path("patient-resources") %></li>
      <li><%= link_to "Careers", page_path("careers") %></li>
    </ul>
  </div>

  <div class="footer-col">
    <ul>
      <li class="header">Main Office</li>
      <li>University Orthopedics<br>
          Altoona Office<br>
          3000 Fairway Drive<br>
          Altoona, PA 16602</li>

      <li>Phone: (814) 942-1166<br>
          Fax: (814) 942-6222</li>
    </ul>

    <ul>
      <li class="header">Other Locations</li>
      <li><%= link_to "View Other Locations", "" %></li>
    </ul>
  </div>

  <div class="footer-col">
    <ul>
      <li class="header">Phone Numbers</li>
      <li>Appointments<br>
          (814) 942-1166</li>

      <li>Patient Accounts<br>
          (814) 942-1166 ext.217</li>

      <li>Medical Records<br>
          (814) 942-1186</li>

      <li>Physical Therapy<br>
          (814) 943-6997</li>
    </ul>
  </div>

  <div class="footer-col">
    <ul>
      <li class="header">Connect with us</li>
      <li>
        <%= link_to(image_tag("fb_icon.png"), "http://facebook.com", target: "_blank") %>
        <%= link_to(image_tag("twitter_icon.png"), "http://twitter.com", target: "_blank") %>
      </li>
    </ul>

    <ul>
      <li class="header">Online Tools</li>
      <li><%= link_to "Patient Portal", "" %></li>
      <li><%= link_to "Pay Bill Online", "" %></li>
      <li><%= link_to "Request an Appointment", "" %></li>
      <li><%= link_to "Refer a Patient", "" %></li>
    </ul>
  </div>

</footer>
</div>

<div class="credits">
  &copy; 2016 University Orthopedics Center -

  <% if current_user %>
    <%= link_to 'Sign Out', session_path, method: :delete %>
  <% else %>
    <%= link_to 'Sign In', new_session_path %>
  <% end %>
</div>
