<div class="footer-outer">
<footer class="site-footer">

  <div class="footer-col">
    <ul>
      <li class="header">Navigation</li>
      <li><%= link_to "Specialties", page_path("specialties") %></li>
      <li><%= link_to "Services", page_path("services") %></li>
      <li><%= link_to "Our Experts", page_path("our-experts") %></li>
      <li><%= link_to "News", news_releases_path %></li>
      <li><%= link_to "Contact Us", page_path("contact-us") %></li>
      <li><%= link_to "About", page_path("about") %></li>
      <li><%= link_to "Patient Resources", page_path("patient-resources") %></li>
      <li><%= link_to "Careers", page_path("careers") %></li>
    </ul>
  </div>
  

  <div class="footer-col">
    <ul>
      <li class="header">Main Office</li>
      <li>
        University Orthopedics Center<br>
        101 Regent Court<br>
        State College, PA 16801<br>
      </li>
      <li>
      Phone: (814) 231-2101<br>or 1-800-505-2101<br>
        Fax: (814) 231-8569
      </li>
    </ul>
    <ul>
      <li class="header">Other Locations</li>
      <li><%= link_to "View Other Locations", page_path('contact-us') %></li>
    </ul>
  </div>

  <div class="footer-col">
    <ul>
      <li class="header">Phone Numbers</li>
      <li>Appointments<br>(814) 231-2101 or 1-800-505-2101</li>
      <li>Patient Accounts<br>(814) 231-2101 or 1-800-505-2101 </li>
      <li>Medical Records<br>(814) 231-2101 or 1-800-505-2101</li>
      <li>Physical Therapy<br>(814) 231-2101 or 1-800-505-2101 </li>
    </ul>
  </div>

  <div class="footer-col">
    <ul>
      <li class="header">Connect with us</li>
      <li>
        <%= link_to(image_tag("fb_icon.png"), "https://www.facebook.com/UOCcares/", target: "_blank") %>
        <%= link_to(image_tag("twitter_icon.png"), "https://twitter.com/researchuoc", target: "_blank") %>
      </li>
    </ul>

    <ul>
      <li class="header">Online Tools</li>
      <li><%= link_to "Patient Portal", "https://www.nextmd.com/ud2/Login/Login.aspx", target: "_blank" %></li>
      <li><%= link_to "Pay Bill Online", "https://www.nextmd.com/ud2/Login/Login.aspx", target: "_blank" %></li>
      <li><%= link_to "Request an Appointment", page_path('appointments') %></li>
      <li><%= link_to "Referring Physicians", page_path("referring-physicians") %></li>
    </ul>
  </div>

</footer>
</div>

<div class="credits">
  &copy; 2016 University Orthopedics Center 

  <% if current_user %>
    - <%= link_to 'Log Out', session_path, method: :delete %>
  <% else %>
    - <%= link_to 'Log In', new_session_path %>
  <% end %>

  - <%= link_to "Email Login", "https://mail.uoc.com/owa/auth/logon.aspx?url=https://mail.uoc.com/owa/&reason=0",  target: "_blank" %> 

  <br>
  <%= link_to "Site by Loaded Creative", "http://weareloaded.com", target: "_blank", class: "by-loaded" %> 
</div>
