<nav class="mobile-navigation"> 
  <div class="group">
    <p>
      <%= link_to "Site Navigation", "#", id: "mobile-trigger" %>
    </p>

    <%= link_to "Patient Portal", 
      "https://www.nextmd.com/Login/Login.aspx", 
      id: "mobile-portal", 
      target: "_blank" %>
  </div>

    <ul id="mobile-nav">
      <li>
        <%= link_to "Specialties", page_path("specialties") %>
          <%= render "layouts/sublist", slug: "specialties" %>
      </li>
      <li>
        <%= link_to "Services", page_path("services") %>
          <%= render "layouts/sublist", slug: "services" %>
      </li>
      <li>
      <%= link_to "Our Experts", page_path("our-experts") %>
          <%= render "layouts/sublist", slug: "our-experts" %>
      </li>
      <li>
      <%= link_to "Patient Resources", page_path("patient-resources") %>
          <%= render "layouts/sublist", slug: "patient-resources" %>
      </li>
      <li>
      <%= link_to "Contact Us", page_path("contact-us") %>
          <%= render "layouts/sublist", slug: "contact-us" %>
      </li>
    </ul>

</nav>



<script>
$(function() {
  $("#mobile-trigger").click(function() {
    $("#mobile-nav").slideToggle();
    //$(this).toggleClass('info-open');
  });
});
</script>
