<nav class="site-navigation"> 
  <div class="group">
  
    <ul id="nav" class="roboto">
      <li><%= top_link_for("Specialties", @page) %></li>
      <li><%= top_link_for("Services", @page) %></li>
      <li><%= top_link_for("Our Experts", @page) %></li>
      <li><%= top_link_for("Patient Resources", @page) %></li>
      <li><%= top_link_for("Contact Us", @page) %></li>
    </ul>

    <ul id="patient-login" class="roboto">
      <li><%= link_to "Patient Log-In", "#" %></li>
    </ul>

  </div>

  <%= render 'layouts/login_box' %>
</nav>

<%#= link_to "Patient Portal", "https://www.nextmd.com/Enroll/TermsAndConditions.aspx?enterpriseid=d5b89990-fea1-4bf2-8320-ef7da717cb44", id: "portal", target: "_blank" %>

<%#= link_to(image_tag("lens.png"), "#", id: "search-btn") %>


