<div class="feature">
  <div class="cycle-slideshow"
        data-cycle-fx="fadeout" 
        data-cycle-pause-on-hover="true" 
        data-cycle-speed="500"
        data-cycle-timeout="6000"
        data-cycle-slides="> div"
        data-cycle-pager-template="<a href='#'></a>"
        >

    <span class="cycle-pager"></span>

    <div class="slide">
      <div class="slide-image">
        <%= image_tag "slide1.jpg" %>
      </div>
      <div class="slide-copy">
        <h2>Your comeback starts here</h2>
        <p>
        Whether it’s on the court, the track, the diamond, the field, the rink, 
        around the house or on the job, everyone loves a comeback story. At 
        University Orthopedics Center, we’re here to help you write yours.
        </p>
        <%= link_to "Start your comeback today", 
          page_path('contact-us'), class: "green-link" %>
      </div>
    </div>

    <div class="slide">
      <div class="slide-image">
        <%= image_tag "https://s3.amazonaws.com/com.uocproduction/images/sportsCarouselSlide.jpg" %>
      </div>
      <div class="slide-copy">
        <h2>Sports Medicine</h2>
        <p>
        Adipisicing culpa nisi provident sapiente reprehenderit molestiae similique nihil, voluptas animi asperiores ut deserunt consequatur temporibus accusantium officia? 
        </p>
        <%= link_to "Go to Sports Medicine page", 
          page_path('sports-medicine-services'), class: "green-link" %>
      </div>
    </div>

    <div class="slide">
      <div class="slide-image">
        <%= image_tag "slide2.jpg" %>
      </div>
      <div class="slide-copy">
        <h2>A more complete approach to care</h2>
        <p>
          In January 2016, we joined together with Blair Orthopedics to create
        Central Pennsylvania’s premier center for orthopedic care featuring the
        region’s top physicians, physician assistants, physical therapists,
        athletic trainers and clinical researchers for a better, healthier you.
        </p>
        <%= link_to "Meet the experts behind the care", 
          page_path('our-experts'), class: "green-link" %>
      </div>
    </div>

    <div class="slide">
      <div class="slide-image">
        <%= image_tag "slide3.jpg" %>
      </div>
      <div class="slide-copy">
        <h2>Encouraging, supporting and strengthening patients every step of the
way</h2>
        <p>
        When it comes to getting you back to better, we specialize in all aspects
of care, including orthopedic care, sports medicine, physical medicine and rehabilitation, pain management, podiatry and chiropractic care.
        </p>
        <%= link_to "Take your first steps towards better", 
                page_path('specialties'), class: "green-link" %>
      </div>
    </div>

    <div class="slide">
      <div class="slide-image">
        <%= image_tag "slide4.jpg" %>
      </div>
      <div class="slide-copy">
        <h2>Not all injuries are created equal</h2>
        <p>
        Each patient’s journey back from injury is unique. When reaching your
goals for recovery means additional resources are needed, we provide a
complete range of surgical and non-surgical services, including
outpatient surgery, urgent orthopedic care, physical and occupational
therapy, X-ray and open MRI services, clinical research, and worker’s
compensation.
        </p>
        <%= link_to "Start your journey with us", 
          page_path('services'), class: "green-link" %>
      </div>
    </div>

    <div class="slide">
      <div class="slide-image">
        <%= image_tag "slide2.jpg" %>
      </div>
      <div class="slide-copy">
        <h2>Joining together for healthier patients and a healthier region</h2>
        <p>University Orthopedics Center and Blair Orthopedics patients will work
together with the same physicians and staff, enjoy the same outstanding
service, and visit the same locations for care throughout Central
Pennsylvania.</p>
        <%= link_to "Read all about it", 
          news_releases_path, class: "green-link" %>
      </div>
    </div>

  </div>




</div>
