<!DOCTYPE html>
<html>
<head>
  <title><%= page_title %></title>
  <%= page_description %>
  <%= page_keywords %>

  <meta name="viewport" content="width=device-width">
  <!--[if lt IE 9]>
    <%= javascript_include_tag "respond.min" %>
	<![endif]-->

  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,400italic,700italic' rel='stylesheet'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100' rel='stylesheet'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= start_background_for(@page) %>
 <%= render "layouts/flashes" %>
 <%= render "layouts/top_links" %>

 <% if mobile_device? %>
   <%= render "layouts/mobile_navigation" %>
   <%= render "layouts/header" %>
 <% else %>
   <%= render "layouts/header" %>
   <%= render "layouts/navigation" %>
 <% end %>


 <%= render "layouts/admin_navigation" if current_user %>

 <% if controller_name == "pages" && action_name == "home" %>
    <section class="site-content for-home group">
 <% else %>
    <section class="site-content group">
 <% end %>
  <%= yield %>
</section>

<% if mobile_device? %>
  <%= render "layouts/mobile_footer" %>
<% else %>
  <%= render "layouts/footer" %>
<% end %>

</div>

<%= render "layouts/analytics" %>


<% if mobile_device? %>
<script>
  var nav = responsiveNav("#nav", { 
    label: "Site Menu"
  });
</script>
<% end %>



</body>
</html>
