<%= form_for @expert, multipart: true do |f| %>
<%= render "shared/errors", object: @expert %>
  <div class="edit-form-row group">
    <div class="form-col col-30">
      <%= f.label :first_name, "First Name" %>
      <%= f.text_field :first_name %>
    </div>
    <div class="form-col col-30">
      <%= f.label :last_name, "Last Name" %>
      <%= f.text_field :last_name %>
    </div>
    <div class="form-col col-30">
      <%= f.label :suffix, "Suffix" %>
      <%= f.text_field :suffix %>
    </div>
  </div>

  <div class="edit-form-row group">
    <div class="form-col col-50">
      <%= f.label :phone, "Phone" %>
      <%= f.text_field :phone %>
    </div>
    <div class="form-col col-50">
      <%= f.label :location, "Location" %>
      <%= f.text_field :location %>
    </div>
  </div>

  <div class="edit-form-row group">
    <div class="form-col col-30">
      <%= f.label :specialty, "Specialty" %>
      <%= f.text_field :specialty %>
    </div>
    <div class="form-col col-30">
      <%= f.label :category, "Category" %>
      <%#= f.select :category, options_for_select(Expert::CATEGORIES.invert), prompt: "Select Category" %>

      <%= f.collection_select(:category, 
                              Expert::CATEGORIES, :first, :last, 
                             prompt: "Select Category") %>

    </div>
  </div>

  <div class="edit-form-row group">
    <%= f.label :photo, "Photo" %>
    <span class="small">(File should be 175 x 219 pixels at 72dpi)</span>
    <%= f.file_field :photo %>
    <%= admin_image_for_expert(@expert) %>
    <%#= image_tag @expert.photo.url, style: "margin-top:1em;display:block;" %>
  </div>


  <div class="edit-form-row group">
    <%= f.label :body, "Body" %>
    <%= f.cktext_area :body %>
  </div>

  <div class="edit-form-row group">
    <% if @expert.new_record? %>
      <%= f.submit "Create Expert", class: "green-link" %>
    <% else %>
      <%= f.submit "Update Expert", class: "green-link" %>
    <% end %>
  </div>

<% end %>


<script>
CKEDITOR.stylesSet.add( 'my_styles', [
    // Block-level styles
    { name: 'Blue Title', element: 'h2', styles: { 'color': 'Blue' } },
    { name: 'Red Title' , element: 'h3', styles: { 'color': 'Red' } },
    { name: 'Tab Open', element: 'div', attributes: { 'class': 'background' } },

    // Inline styles
    { name: 'CSS Style', element: 'span', attributes: { 'class': 'my_style' } },
    { name: 'Marker: Yellow', element: 'span', styles: { 'background-color': 'Yellow' } }
] );
</script>
