<div class="main-content-wide">

  <% if @category %>
    <h1><%= @category %></h1>
  <% else %>
    <h1>All Experts</h1>
  <% end %>

<p>
</p>
<div class="form-row group">
  <div class="half-row">
    <%= label_tag :search, "Limit results by:" %>
    <%= text_field_tag :search, nil, placeholder: "Text you want to search for (ex.: Altoona)" %>
  </div>
</div>

<table id="experts" class="results">
  <% @experts.each do |expert| %>
  <tr id="exp-<%= expert.id %>" >
    <td><%= admin_image_for_expert(expert) %></td>
    <td><%= link_to expert.name, expert %></td>
    <td><%= expert.phone %></td>
    <td><%= expert.location %></td>
    <td><%= link_to "Edit", edit_expert_path(expert) %></td>
    <td><%= link_to "Remove", expert, method: :delete %></td>
  </tr>
  <% end %>
</table>

</div>



<script type="text/javascript">
  $(document).ready(function()
  {
    $('#search').keyup(function()
    {
      searchTable($(this).val());
    });
  });
  function searchTable(inputVal)
  {
    var table = $('#experts');
    table.find('tr').each(function(index, row)
    {
      var allCells = $(row).find('td');
      if(allCells.length > 0)
      {
        var found = false;
        allCells.each(function(index, td)
        {
          var regExp = new RegExp(inputVal, 'i');
          if(regExp.test($(td).text()))
          {
            found = true;
            return false;
          }
        });
        if(found == true)$(row).show();else $(row).hide();
      }
    });
  }
</script>


<script>
  $(document).ready(function() {

    $('#experts').tableDnD({
      onDragClass: "moving-row",
      onDrop: function(table, row) {
        $.ajax({
          type: "POST",
          url: "<%=j url_for(:action => 'sort') %>",
          processData: false,
          data: $.tableDnD.serialize() + '&authenticity_token=' + encodeURIComponent("<%=j form_authenticity_token if protect_against_forgery? %>"),
          success: function(msg) {
          }
        });
      }
    })

  })
</script>


