<ul>
  <li><%= @expert.name %></li>
  <li><%= @expert.phone %></li>
  <li><%= @expert.location %></li>
  <li><%= @expert.specialty %></li>
  <li><%= @expert.procedures %></li>
  <li><%= @expert.education %></li>
</ul>

<%= @expert.body.html_safe %>
