<% content_for :title, @expert.name %>

<div class="side-navigation">
  <h2 class="roboto"><%= link_to "Our Experts", page_path('our-experts') %></h2>
    <%= side_links_for_experts(@category) %>
</div>

<div class="experts-content">
  <h1 class="roboto"><%= @category %></h1>

  <div class="expert-box">
    <div class="group">
      <%= image_for_expert(@expert) %>
      <ul>
        <li class="expert-name roboto blue">
          <%= @expert.name %>
          <span class="expert-suffix"><%= @expert.suffix %></span>
        </li>
        <li class="expert-phone roboto blue"><%= @expert.phone %></li>
        <li><b>Location:</b> <%= @expert.location.html_safe %></li>
        <% unless @expert.category == "physicians_assistants" %>
        <li><b>Specialty:</b> <%= @expert.specialty.html_safe %></li>
        <%= appointment_button_for(@expert) %>
        <% end %>
      </ul>
    </div>
  </div>

  <section class="expert-details">
    <%= @expert.body.html_safe %>
  </section>

  <% if current_user %>
  <p>
    <%= link_to "Edit", edit_expert_path(@expert), class: "green-link edit-link" %>
  </p>
  <% end %>

</div>
